html {
  height: 100%;
  box-sizing: border-box;
  font-size: 10px;
  background: #333F56;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

header {
  padding: 5em 0;
}

header h1 {
  font-size: 8rem;
  color: white;
  margin: 0;
  font-weight: 800;
  font-style: italic;
  letter-spacing: 5px;
  border-bottom: 1px solid white;
}

.display__time-left {
  font-weight: 100;
  font-size: 20rem;
  margin: 0;
  color: white;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.05);
}

.timer {
  display: flex; 
  align-items: center;
  /* min-height: 100vh; */
  flex-direction: column;
}

.timer__controls {
  display: flex;
  padding-bottom: 2%;
}

.timer__controls > * {
  /* flex: 1; */
}

.timer__controls form {
  flex: 1;
  display: flex;
}

.timer__controls input {
  flex: 1;
  color: white;
  font-size: 1.5em;
  border: 4px solid #FA6E70;
  background: none;
  height: 60px;
  padding: 2rem;
  border-radius: 6px;
}

.timer__button {
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
  background: #FA6E70;
  border-bottom: 3px solid rgba(0,0,0,0.2);
  border-right: 3px solid rgba(0,0,0,0.2);
  width: 150px;
  height: 60px;
  margin-right: 10px;
  border-radius: 6px;
  font-family: 'Fira Sans', sans-serif;
}

.timer__button:hover,
.timer__button:focus {
  background: #f75151;
  outline: 0;
}

.display {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Oxygen Mono', monospace;
  /* justify-content: center; */
}

.display__end-time {
  font-size: 3.6rem;
  color: white;
  margin-bottom: 2em;
}

.timer__controls2 .timer__start {
  background: rgba(250, 110, 112, 0.3);
  cursor: pointer;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  border: 4px solid #FA6E70;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  font-family: 'Fira Sans', sans-serif;
  margin: 6px;
  transition: all .3s ease-in-out;
}

.timer__controls2 .timer__start:hover {
  transform: scale(1.04);
}

.timer__controls2 .timer__start .fa-play {
  margin-left: 10px
}

footer {
  color: white;
  font-size: 2em;
  padding: 3em 0;
}

footer p {
  width: 100%;
  padding-top: 1em;
  border-top: 1px solid white;
}


@media only screen and (max-width: 1200px) {
  .display__time-left {
    font-size: 18rem;
  }

  .timer__controls form {
    display: block;
  }

  .timer__controls input.custom-minutes {
    flex: 0;
    width: 175px;
    font-size: 1.5em;
    padding: 2rem;
  }
  
  .timer__button {
    /* font-size: 1.5rem; */
    height: 60px;
    margin-right: 10px;
  }

  .display__end-time {
    width: 75%;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 850px) {
  header {
    padding-bottom: 3em;
  }

  .timer__controls {
    order: 3;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }

  .timer__controls form {
    width: 100%;
  }

  .timer__controls input.custom-minutes {
    width: 100%;
    margin-right: 10px;
  }

  .timer__button {
    width: 100%;
    height: 60px;
    margin-right: 0;
    margin-bottom: 18px;
  }

  .display {
    order: 1;
  }

  .timer__controls2 {
    order: 2;
    margin-bottom: 75px;
  }
}

@media only screen and (max-width: 600px) {
  header h1 {
    font-size: 6rem;
  }

  .timer__controls {
    width: 90%;
  }

  .display__time-left {
    font-size: 15rem;
  }

  .display__end-time {
    width: 75%;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    letter-spacing: 2px;
    font-size: 5rem;
  }

  .display__time-left {
    font-size: 10rem;
  }
}

